$darkGray: #838383;
$smoke: #f2f2f2;
$lightGray: #c4c4c4;
$borderGray: #dfdfdf;
$selectedGreen: #7ac500;
$mainBorder: #e4e4e4;
$textAreaBorder: #e1e1e1;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
